.App {
  text-align: center;
  margin-top: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tweet {
  text-align: left;
}
.tweet__link {
  color:inherit;
  text-decoration: none;
  cursor: pointer;
  text-align:left;
}

.tweet__link .card {
  margin-bottom:0.5em;
}

.user_thumbnail {
  float:left;
  margin-right: 6px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}